.page-header {

  position: fixed;
  right: 0;
  left: 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $screen-xl;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 18px 0;

    @media (min-width: $screen-md) {
      position: static;
      transform: translateX(0);
      margin-right: auto;
      margin-left: 15px;
    }
  }

  &__search-form {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background: linear-gradient(178.81deg, #96B1BC 21.1%, #75929E 82%);

    @media (min-width: $screen-md) {
      height: 70px;
      padding: 18px 30px;
    }


  }
}
