.search-form {
  $block-name: &;

  display: flex;
  transition: width $transition-time;

  @media (max-width: $screen-md) {
    position: absolute;
    right: 0;
    margin-left: 0;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 30px;
    padding-right: 70px;
    color: #fff;
    background-color: transparent;

    @media (min-width: $screen-md) {
      position: static;
      width: 300px;
      margin-right: 10px;
      padding: 10px;
      border-bottom: 1px solid $border-color;
    }

    &::placeholder {
      color: #fff;
    }

    &:focus {
      outline-color: #fff;
    }
  }

  &__btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 70px;
    height: 70px;
    border: 0;
    padding: 0;
    background: none;

    @media (min-width: $screen-md) {
      width: auto;
      height: auto;
    }

    &:hover svg {
      fill: #BADEFF;
    }
  }

  &__icon {
    fill: #fff;

    @media (max-width: $screen-md) {
      width: 25px;
      height: 25px;
    }
  }

  &--opened {

    @media (max-width: $screen-md) {
      width: calc(100% - 70px);

      #{$block-name}__input {

      }
    }
  }
}
